html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

    nav ul {
        list-style: none;
    }

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

/* change colours to suit your needs */
ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

/* change colours to suit your needs */
mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

input, select {
    vertical-align: middle;
}

/* my code */

* {
    text-decoration: none;
}

main {
    padding-top: 100px;
}

body {
    background-color: #f2f2f2;
}

header {
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    background-color: #111;
    opacity: 0.9;
    width: 100%;
    height: 64px;
    border-bottom: 4px solid;
    border-bottom-color: dodgerblue;
}

header .header-brand {
    display: block;
    padding: 20px 12px 0px 20px;
    float: left;
}

header nav ul {
    display: block;
    margin: 16px 0px 0px 16px;
    width: auto;
}

header nav ul li {
    display: inline-block;
    float: left;
    list-style: none;
    padding: 0px 12px;
}

header nav ul li a {
    font-family: 'Tw Cen MT', 'Calibri';
    font-weight: 100;
    font-size: 18px;
    line-height: 32px;
    color: #f2f2f2;
}

/*INDEX*/

.index-banner {
    margin-top: -32px;
    width: 100%;
    height: 1028px;
    background-color: #fff;
    background-image: url('images/banner.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/*PAGELINKS*/

.page-links div {
    margin: 16px 16px 0px;
    width: 100%;
    height: 100px;
    background-color: #f2f2f2;
}

.boxlink-square {
    width: calc(100% - 32px);
}

.boxlink-square img {
    display: none;
}

.page-links h1 {
    font-family: 'Tw Cen MT', 'Calibri';
    font-weight: 600;
    font-size: 64px;
    line-height: 100px;
    color: #111;
    text-transform: uppercase;
    text-align: center;
    border: 8px solid;
    border-color: #2b2b2b;
}

.page-links div h3 {
    font-family: 'Tw Cen MT', 'Calibri';
    font-weight: 600;
    font-size: 32px;
    line-height: 100px;
    color: #111;
    text-align: center;
    text-transform: uppercase;
}

@media only screen and (min-width: 1024px) {
    .wrapper {
        width: 1024px;
        margin: 0px auto;
    }

    .page-links {
        overflow: hidden;
    }

    .page-links div {
        margin: 16px 8px 0px 8px;
        height: calc(50% - 64px) !important;
        float: left;
    }

    .boxlink-square {
        width: calc(25% - 16px) !important;
    }

    .boxlink-square img {
        display: block;
        width: 90%;
        align-items: center;
        margin-left: 12px;
        margin-top: 12px;
        justify-content: center;
    }

    .page-links div h3 {
        line-height: 64px;
    }
}

/*FOOTER*/

footer {
    width: calc(100% - 64px);
    padding: 32px 32px;
    padding-bottom: 0px;
    margin-top: 16px;
    overflow: hidden;
    background-color: #2b2b2b;
    border-top: 4px solid;
    border-top-color: dodgerblue;
}

.footer-secondary {
    width: calc(100% + 32px);
    margin-top: 32px;
    margin-left: -32px;
    background-color: #111;
    text-align: center;
}

footer ul {
    width: auto;
    float: left;
    padding-left: 16px;
    padding-right: 32px;
}

footer ul li {
    display: block;
    list-style: none;
}

footer ul li a {
    font-family: 'Tw Cen MT', 'Calibri';
    font-weight: 300;
    font-size: 16px;
    color: #f2f2f2;
    line-height: 32px;
}

footer ul p {
    font-family: 'Tw Cen MT', 'Calibri';
    font-weight: 300;
    font-size: 16px;
    color: dodgerblue;
    line-height: 32px;
}

.footer-links-recent-work {
    display: block;
}

.footer-sm {
    width: 32px;
    float: right;
}

.footer-sm img {
    width: 100%;
    margin-bottom: 16px;
}